<!DOCTYPE html>
<html>
  <head>
    <title>Four Buttons</title>
    <link rel='stylesheet' type='text/css' href='/reset.css'>
    <link rel='stylesheet' type='text/css' href='/styles.css'>
  </head>
  <body>
      <header>
        <h2>Question?</h2>
        <p>Live: <span id='time'>0</span></p>
      </header>
      <div class='options'>
        <button class="blue-btn" >Blue</button>
        <div class='middle-options'>
            <button class="red-btn" >Red</button>
            <button class='yellow-btn' >Yellow</button>
        </div>
        <button class='green-btn'>Green</button>
      </div>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/script.js'></script>
  </body>
</html>